.flex-container{
    display: flex;
    &__column{
        display: flex;
        flex-direction: column;
        @include smallDesktopQuerie{
            max-height: 100vh;
        }
        &--tablet{
            @include tabletQuerie{
                display: flex;
                flex-direction: column;
                width: 60vw;

            }

        @include smallDesktopQuerie{
            width: 70vw;
            min-width: 70vw;
            position: absolute;
            right:0;
            max-height: 100dvh;
        }
        }
        @include tabletQuerie{
            flex-direction: row;
        }
    }
    &__row{
        flex-direction: row;

    }
}