.shelf{
    width: 100vw;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    &__image{

        grid-row-start: 1;
        grid-column-start: 1;
        width: 100dvw;
    }
    &__container{
        display: flex;
        flex-direction: column;
        width: 100vw;    
    }
    &__baguette{
        align-self: end;
        margin-bottom: 7dvh;
        grid-row-start: 1;
        grid-column-start: 1;

    }
}
.topShelf{

    display: grid;
    grid-template-columns: 1fr;
    &__image{
        grid-row-start: 1;
        grid-column-start: 1;
        width: 100vw;
        z-index: -100;

    }
    &__heading{
        grid-row-start: 1;
        align-self: center;
        grid-column-start: 1;;
        margin: 0rem;
    }
    &__productCount{
        align-self: end;
        padding-bottom:1rem;
        grid-row-start: 1;
        grid-column-start: 1;
        margin:0;
    }
}