.shelf {
  width: inherit;
  height: auto;
  text-align: center;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  @include tabletQuerie {
    width: 40vw;
  }
  @include smallDesktopQuerie{
    width: 30vw;
  }
  &--middle {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 25dvw);
    @include tabletQuerie {
      grid-template-rows: repeat(5, 9.92dvw) ;
    }
    @include smallDesktopQuerie{
      grid-template-rows: repeat(5, 7.2dvw);
    }
  }
  &__image {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    width: inherit;
    &--bottom {
      @include tabletQuerie {
        width: 40vw;
      }
      @include smallDesktopQuerie{
        width: inherit;
      }
    }
    &:nth-child(2) {
      grid-row-start: 2;
    }
    &:nth-child(3) {
      grid-row-start: 3;
    }
    &:nth-child(4) {
      grid-row-start: 4;
    }
    &:nth-child(5) {
      grid-row-start: 5;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    @include smallDesktopQuerie{
      position: fixed;
    }

  }
  &__bottom-legs{
    @include smallDesktopQuerie{
      width: 30vw;
    }
  }
  &__baguette {
    align-self: end;
    margin: 0 2rem 0 2rem;
    width: auto;
    grid-row-start: 1;
    grid-column-start: 1;
    height: 2rem;
    border: 1px solid black;
    border-radius: 30px;
    @include smallDesktopQuerie{
      height: 3rem;
    }
    &::placeholder {
      text-align: center;
      font-size: 1rem;

    }

  }
  &__button {
    background: transparent;
    cursor: pointer;
    margin: 0.1rem;
    border: none;
    z-index: 100;
    padding: 0;
    scroll-snap-align: end;
    display: grid;
    align-items: center;
  }
  &__buttonText{
    position: relative;
    grid-column-start: 1;
    grid-row-start: 1;
    padding:.1rem;

  }
  &__buttonImage{
    height: 100%;
    width: 100%;

    grid-column-start: 1;
    grid-row-start: 1;
  }

  &__jar {
    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(100, 25dvw 25dvw 25dvw 25dvw 25dvw);
      overflow-y: scroll;
      grid-row-start: 1;
      scroll-snap-type: y mandatory;
      grid-row-end: -1;
      grid-column-start: 1;
      align-items: end;
      padding: 0 5%;

      @include tabletQuerie {
        grid-template-rows: repeat(100, 20%);
        padding: 0 5%;
      }
    }
    width: 2rem;
  }
}
.topShelf {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  @include tabletQuerie{
    height: fit-content;
  }
  &__image {
    grid-row-start: 1 !important;
    grid-column-start: 1;
    width: inherit;
    z-index: -100;
  }
  &__heading {
    grid-row-start: 1;
    align-self: center;
    @include titleFont;
    grid-column-start: 1;
    margin: 0rem;
  }
  &__productCount {
    align-self: end;
    @include standardFont;
    padding-bottom: 1rem;
    grid-row-start: 1;
    grid-column-start: 1;
    margin: 0;
  }
}
