.rating{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;

&__input {
	display: none;
    &:checked ~ label{
        color: orange;
    }
}

&__label {
	font-size: 24px;
	cursor: pointer;
    &:hover, &:hover ~ label {
        color: orange
    }
}

}