$x-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$x-large: 1400px;

@mixin mobileQuerie {
    @media only screen and (min-width: $x-small){
        @content;
    }
}
@mixin tabletQuerie {
    @media only screen and (min-width: $small){
        @content;
    }
}
@mixin smallDesktopQuerie {
    @media only screen and (min-width: $medium){
        @content;
    }
}
@mixin desktopQuerie {
    @media only screen and (min-width: $large){
        @content;
    }
}
@mixin bigDesktopQuerie {
    @media only screen and  (min-width: $x-large){
        @content;
    }
}