body {
  margin: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

.input {
  background: transparent;
  background-image: url("../img/baguette.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: local;
  color: black;
  width: 100%;
  height: 3rem;
  padding: 0;
  border: none;
  padding: 0 1.5rem; }
  .input::placeholder {
    color: black; }

.shelf {
  width: 100vw;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-image: url("./img/middleShelf.png");
  background-repeat: repeat-y; }
  .shelf__image {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100dvw; }
    .shelf__image:nth-child(2) {
      grid-row-start: 2; }
    .shelf__image:nth-child(3) {
      grid-row-start: 3; }
    .shelf__image:nth-child(4) {
      grid-row-start: 5; }
  .shelf__container {
    display: flex;
    flex-direction: column;
    width: 100vw; }
  .shelf__baguette {
    align-self: end;
    margin: 0 2rem 0 2rem;
    width: auto;
    grid-row-start: 1;
    grid-column-start: 1; }
  .shelf__button {
    background: rgba(0, 0, 0, 0.4);
    height: 3rem;
    margin: 0.3rem;
    border: none;
    grid-template-rows: 1fr; }
  .shelf__jar {
    width: 2rem; }
    .shelf__jar-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-end: 4;
      grid-row-start: 1;
      grid-column-start: 1;
      align-items: end;
      padding: 0 1rem; }
    .shelf__jar text {
      text-anchor: middle;
      dominant-baseline: middle;
      font-size: 5rem; }

.topShelf {
  display: grid;
  grid-template-columns: 1fr; }
  .topShelf__image {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100vw;
    z-index: -100; }
  .topShelf__heading {
    grid-row-start: 1;
    align-self: center;
    grid-column-start: 1;
    margin: 0rem; }
  .topShelf__productCount {
    align-self: end;
    padding-bottom: 1rem;
    grid-row-start: 1;
    grid-column-start: 1;
    margin: 0; }

.flex-container {
  display: flex; }
  .flex-container__column {
    display: flex;
    flex-direction: column; }
