body {
  margin: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

.input {
  background: transparent;
  background-image: url("../img/baguette.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: local;
  color: black;
  width: 100%;
  height: 3rem;
  padding: 0;
  border: none;
  padding: 0 1.5rem;
  align-self: center;
  height: 2rem;
  border: 1px solid black;
  border-radius: 30px; }
  @media only screen and (min-width: 768px) {
    .input {
      height: 3rem; } }
  .input::placeholder {
    color: black; }
  .input--recipeSearch {
    margin: 1rem 1rem 0 1rem;
    width: -webkit-fill-available;
    width: fill-available; }

.recipe {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #3c3c3c;
  border-radius: 3px;
  margin: .5rem 0;
  display: grid;
  background: rgba(255, 255, 255, 0.7);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 0.2fr 0.2fr;
  text-align: center;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3); }
  @media only screen and (min-width: 768px) {
    .recipe {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.5fr .5fr .5fr;
      height: 20vh; } }
  @media only screen and (min-width: 992px) {
    .recipe {
      height: 23rem;
      grid-template-rows: 1.5fr .9fr .2fr .3fr; } }
  .recipe__container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem; }
  .recipe__image {
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: 100%; }
    @media only screen and (min-width: 768px) {
      .recipe__image {
        grid-row-end: 1;
        object-fit: cover;
        height: 10vh; } }
    @media only screen and (min-width: 992px) {
      .recipe__image {
        width: 100%;
        min-height: 100%; } }
  .recipe__inputSearch {
    width: 100%; }
    @media only screen and (min-width: 992px) {
      .recipe__inputSearch {
        width: 60%; } }
  @media only screen and (min-width: 992px) {
    .recipe__inputContainer {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .recipe__link {
    font-size: 0.9rem;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #616060; }
  .recipe__ingredientsInfo {
    font-size: 0.9rem;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #616060; }
  .recipe__heading {
    font-size: 1.4rem;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0.5rem 0; }
    @media only screen and (min-width: 992px) {
      .recipe__heading {
        padding: 0 .5rem; } }

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center; }
  .rating__input {
    display: none; }
    .rating__input:checked ~ label {
      color: orange; }
  .rating__label {
    font-size: 24px;
    cursor: pointer; }
    .rating__label:hover, .rating__label:hover ~ label {
      color: orange; }

.shelf {
  z-index: -10;
  width: inherit;
  height: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  @media only screen and (min-width: 768px) {
    .shelf {
      width: 40vw; } }
  @media only screen and (min-width: 992px) {
    .shelf {
      width: 30vw; } }
  .shelf--middle {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 25dvw); }
    @media only screen and (min-width: 768px) {
      .shelf--middle {
        grid-template-rows: repeat(5, 9.92dvw); } }
    @media only screen and (min-width: 992px) {
      .shelf--middle {
        grid-template-rows: repeat(5, 7.2dvw); } }
  .shelf__image {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    width: inherit; }
    @media only screen and (min-width: 768px) {
      .shelf__image--bottom {
        width: 40vw; } }
    @media only screen and (min-width: 992px) {
      .shelf__image--bottom {
        width: inherit; } }
    .shelf__image:nth-child(2) {
      grid-row-start: 2; }
    .shelf__image:nth-child(3) {
      grid-row-start: 3; }
    .shelf__image:nth-child(4) {
      grid-row-start: 4; }
    .shelf__image:nth-child(5) {
      grid-row-start: 5; }
  .shelf__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%; }
    @media only screen and (min-width: 992px) {
      .shelf__container {
        position: fixed; } }
  @media only screen and (min-width: 992px) {
    .shelf__bottom-legs {
      width: 30vw; } }
  .shelf__baguette {
    align-self: end;
    margin: 0 2rem 0 2rem;
    width: auto;
    grid-row-start: 1;
    grid-column-start: 1;
    height: 2rem;
    border: 1px solid black;
    border-radius: 30px; }
    @media only screen and (min-width: 992px) {
      .shelf__baguette {
        height: 3rem; } }
    .shelf__baguette::placeholder {
      text-align: center;
      font-size: 1rem; }
  .shelf__button {
    background: transparent;
    cursor: pointer;
    margin: 0.1rem;
    border: none;
    z-index: 100;
    padding: 0;
    scroll-snap-align: end;
    display: grid;
    align-items: center; }
  .shelf__buttonText {
    position: relative;
    grid-column-start: 1;
    grid-row-start: 1;
    padding: .1rem; }
  .shelf__buttonImage {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 1; }
  .shelf__jar {
    width: 2rem; }
    .shelf__jar-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(100, 25dvw 25dvw 25dvw 25dvw 25dvw);
      overflow-y: scroll;
      grid-row-start: 1;
      scroll-snap-type: y mandatory;
      grid-row-end: -1;
      grid-column-start: 1;
      align-items: end;
      padding: 0 5%; }
      @media only screen and (min-width: 768px) {
        .shelf__jar-container {
          grid-template-rows: repeat(100, 20%);
          padding: 0 5%; } }

.topShelf {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  z-index: 10; }
  @media only screen and (min-width: 768px) {
    .topShelf {
      height: fit-content; } }
  .topShelf__background {
    height: 30vw;
    position: absolute;
    justify-self: center;
    z-index: -5;
    grid-column-start: 1;
    grid-row-start: 1; }
    @media only screen and (min-width: 768px) {
      .topShelf__background {
        height: 12vw; } }
    @media only screen and (min-width: 992px) {
      .topShelf__background {
        height: 9vw; } }
  .topShelf__image {
    grid-row-start: 1 !important;
    grid-column-start: 1;
    width: inherit;
    z-index: -100; }
  .topShelf__heading {
    grid-row-start: 1;
    align-self: center;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: 200;
    grid-column-start: 1;
    margin: 0rem; }
  .topShelf__productCount {
    align-self: end;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    padding-bottom: 1rem;
    grid-row-start: 1;
    grid-column-start: 1;
    margin: 0; }

@media only screen and (min-width: 768px) {
  .recipes-area {
    height: 100dvh;
    grid-template-columns: repeat(3, 20vw);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: grid; } }

@media only screen and (min-width: 992px) {
  .recipes-area {
    grid-template-columns: repeat(5, 13vw);
    align-self: center;
    grid-gap: .4rem; } }

@media only screen and (min-width: 992px) {
  .recipes-area {
    background-position: center;
    background-image: url(/img/plate.png);
    background-repeat: no-repeat;
    background-size: 70dvw 120dvh; } }

.flex-container {
  display: flex; }
  .flex-container__column {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 992px) {
      .flex-container__column {
        max-height: 100vh; } }
    @media only screen and (min-width: 768px) {
      .flex-container__column--tablet {
        display: flex;
        flex-direction: column;
        width: 60vw; } }
    @media only screen and (min-width: 992px) {
      .flex-container__column--tablet {
        width: 70vw;
        min-width: 70vw;
        position: absolute;
        right: 0;
        max-height: 100dvh; } }
    @media only screen and (min-width: 768px) {
      .flex-container__column {
        flex-direction: row; } }
  .flex-container__row {
    flex-direction: row; }
